@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.scroll-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

.scroll-container section {
  width: 100%;
  height: 100%; }

.dots {
  z-index: 1;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.dots li a {
  padding: 10px;
  width: 4px;
  height: 5px;
  display: block; }

.dots li a:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.48);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease;
  -o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease; }

.dots li a.active:before {
  content: '';
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  margin-top: -4px;
  left: 7px;
  background-color: white;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.dots-right {
  right: 10px; }

.dots-left {
  left: 10px; }

.section1 {
  background-color: #7dbcd4; }

.section2 {
  background-color: #98c19f; }

.section3 {
  background-color: #a199e2; }

.section4 {
  background-color: #cc938e; }

.section5 {
  background-color: #d2c598; }

section div {
  font-family: 'Open Sans';
  font-style: normal;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

span {
  font-size: 4em;
  font-style: normal;
  color: #fff; }

.button {
  background-color: #f2cf66;
  border-bottom: 5px solid #d1b358;
  text-shadow: 0px -2px #d1b358;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-decoration: none; }

.header ul {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( 20px + 4 * ((100vw - 320px) / 3120));
  line-height: 28px; }

.jumbotron {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( 45px + 27 * ((100vw - 320px) / 3120));
  line-height: 84px; }

.theProplem h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( 35px + 29 * ((100vw - 320px) / 3120));
  line-height: 75px; }

.theProplem p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc( 19px + 13 * ((100vw - 320px) / 3120));
  line-height: 37px; }
  .theProplem p strong {
    font-weight: 700; }

@media (max-width: 768px) {
  .theProplem p {
    text-align: center;
    line-height: 27px; } }

.hero .hero-message {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: calc( 30px + 18 * ((100vw - 320px) / 3120));
  line-height: 56px; }

.PPC h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( 38px + 26 * ((100vw - 320px) / 3120));
  line-height: 75px; }

.PPC p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc( 22px + 10 * ((100vw - 320px) / 3120));
  line-height: 37px; }

@media (max-width: 768px) {
  .PPC h2 {
    line-height: 45px; }
  .PPC p {
    line-height: 27px; } }

.theTeam h2,
.theTeam .userPhoto {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: calc( 40px + 24 * ((100vw - 320px) / 3120));
  line-height: 75px; }

.theTeam .figcaption {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc( 18px + 6 * ((100vw - 320px) / 3120));
  line-height: 28px; }
  .theTeam .figcaption em {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: calc( 14px + 4 * ((100vw - 320px) / 3120));
    line-height: 21px; }

@media (max-width: 768px) {
  .theTeam h2 {
    margin-bottom: 40px; } }

.footer p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 3120));
  line-height: 21px; }

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative; }
