.contacts {
  background-image: url('../assets/main/mainBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  $speed: 20s;
  $wordCount: 6;

  .morphing {
    // padding-top: 50px;
    height: 100%;
    // position: relative;

    color: #fff;
    filter: contrast(25) blur(1px);

    .word {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: word $speed infinite ease-in-out;

      @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
          animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
        }
      }

      @keyframes word {
        0%,
        5%,
        100% {
          filter: blur(0px);
          opacity: 0.5;
        }
        20%,
        80% {
          filter: blur(1em);
          opacity: 0;
        }
      }
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 100%;
    overflow: auto;
    padding: 15px 25px;
    // text-align: left;
    background: rgba(255, 255, 255, 0.34);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    .links {
      width: 100%;
      height: 100%;
    }

    p {
      margin: 10px;
    }
    a {
      // margin: 0 0 15px;
      // padding: 15px;
      position: relative;
      text-align: center;
      display: block;
      // width: 100%;
      color: $black;
      // background: $white;
      transition: all 0.3s ease;
    }

    a:hover {
      background: none;
      color: $white;
    }
    .formBlock {
      input {
        outline: 0;
        background: $white;
        width: 100%;
        border: 0;
        margin: 5px 0 10px;
        padding: 10px 15px;
      }

      textarea {
        width: 100%;
        min-height: 70px;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        resize: none;
        overflow: auto;
      }

      button {
        text-transform: uppercase;
        outline: 0;
        background: $green;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;

        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }

      button:hover,
      button:active,
      button:focus {
        background: #43a047;
      }
    }
  }

  .formWrapper:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  .social {
    // width: 100%;
    height: 100%;
    margin-top: 50px;

    ul {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding-bottom: 1%;
    }

    & ul li {
      display: inline-block;
    }

    img {
      margin: 0 8px;

      width: 20px;
      height: 20px;

      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    img:hover {
      transform: scale(1.15);
    }
  }
}
