.contacts {
  background-color: #d2c598;
  background: url('../assets/main-min.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  $speed: 16s;
  $wordCount: 7;

  .morphing {
    position: relative;
    font-size: 120px;
    // background-color: #000;
    color: #fff;
    // min-height: 100vh;
    filter: contrast(25) blur(1px);

    .word {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: word $speed infinite ease-in-out;

      @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
          animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
        }
      }

      @keyframes word {
        0%,
        5%,
        100% {
          filter: blur(0px);
          opacity: 1;
        }
        20%,
        80% {
          filter: blur(1em);
          opacity: 0;
        }
      }
    }
  }

  .formWrapper {
    max-width: 350px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
      outline: 0;
      background: $white;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      // box-sizing: border-box;
    }

    textarea {
      width: 100%;
      max-height: 400px;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      resize: vertical;
    }

    button {
      text-transform: uppercase;
      outline: 0;
      background: $green;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #ffffff;

      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }

    button:hover,
    button:active,
    button:focus {
      background: #43a047;
    }
  }

  ////////////

  .social {
    width: 100%;
    height: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding-bottom: 1%;
    }

    & ul li {
      display: inline-block;
    }

    img {
      margin: 0 8px;

      width: 20px;
      height: 20px;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    img:hover {
      transform: scale(1.15);
    }
  }
}
