.title {
  background: url('../assets/main-min.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  .social {
    & ul li {
      display: inline-block;
    }

    img {
      margin-top: 10px;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      transform: scale(1);
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    img:hover {
      transform: scale(1.15);
    }
  }

  & .title_main {
    margin-bottom: 80%;
    position: relative;
  }

  h1,
  h2,
  p {
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }

  #scrolDownBtn a span {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
}
