@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$maxWidth: 3440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 280;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth})
  );
}
// @include adaptiv-font(24, 20);

body {
  font-family: 'Muli', sans-serif;
}

h1 {
  @include adaptiv-font(100, 45);
  letter-spacing: 1.1rem;
  font-weight: bold;
  line-height: 1.7em;
  text-transform: uppercase;
}

h2 {
  @include adaptiv-font(90, 18);
  line-height: 1.6em;
}

h3 {
  @include adaptiv-font(70, 16);
  line-height: 1.3em;
}

p {
  @include adaptiv-font(30, 14);
}

span {
  @include adaptiv-font(35, 25);
}

.about h3 {
  font-weight: bold;
}

.works {
  h2 {
    font-weight: bold;
    line-height: 1.3em;
  }

  p {
    @include adaptiv-font(50, 10);
    line-height: 1.1em;
  }
  a {
    @include adaptiv-font(35, 10);
    line-height: 1.2em;
  }
}

.contacts {
  .formWrapper {
    .form input {
      @include adaptiv-font(35, 12);
    }

    .morphing {
      @include adaptiv-font(180, 90);
    }
    a {
      @include adaptiv-font(28, 10);
      line-height: 0.6em;
      font-weight: bold;
      letter-spacing: 0.12em;
    }
    a:hover {
      letter-spacing: 0.15em;
    }

    p {
      @include adaptiv-font(40, 12);
      line-height: 0.6em;
      font-weight: bold;
    }
    .skill {
      @include adaptiv-font(50, 16);
      font-weight: bold;
      line-height: 0.75em;
      letter-spacing: 0.12em;
    }
  }
}
