@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$maxWidth: 3440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 280;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth})
  );
}
// @include adaptiv-font(24, 20);

body {
  font-family: 'Muli', sans-serif;
}

h1 {
  @include adaptiv-font(100, 45);
  letter-spacing: 1.1rem;
  font-weight: bold;
  line-height: 1.7em;
  text-transform: uppercase;
}

h2 {
  @include adaptiv-font(90, 18);
  line-height: 1.6em;
}

h3 {
  @include adaptiv-font(70, 16);
  line-height: 1.3em;
}

p {
  @include adaptiv-font(30, 14);
}

span {
  @include adaptiv-font(35, 25);
}

.about h3 {
  font-weight: bold;
}

.works {
  h2 {
    font-weight: bold;
    line-height: 1.3em;
  }

  p {
    @include adaptiv-font(50, 10);
    line-height: 1.1em;
  }
  a {
    @include adaptiv-font(35, 10);
    line-height: 1.2em;
  }
}

.contacts {
  .form input {
    @include adaptiv-font(35, 12);
  }

  .morphing {
    @include adaptiv-font(220, 100);
    // font-size: 120px;
  }

  .formWrapper {
    a {
      @include adaptiv-font(35, 10);
      line-height: 1.5em;
    }
    p {
      @include adaptiv-font(50, 10);
      line-height: 1.1em;
    }
  }
}
