@import '_reset.scss';
@import '_variables.scss';
@import '_about.scss';
@import '_xxx.scss';
@import '_contacts.scss';
@import '_title.scss';
@import '_works.scss';
@import '_fullScroll.scss';
@import 'typography.scss';

body,
html {
  overflow: hidden;
  background-color: #b2dee9;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wrapper section {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
