@import './reset.scss';
@import './variables.scss';
@import '_scommon.scss';
@import './typography.scss';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
